* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}


.image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.image-logo img {
    width: 400px; 
    height: auto; 
}

.parent {
    display: grid;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    cursor: pointer;
    align-self: center;
    background-color: rgb(63, 63, 110);
    width: 4rem;
    height: 2rem;
    }

    .parent >div:hover {
        background-color: rgb(74, 84, 238);
    }
    

     * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    footer {
        background-color: #111;
        margin-top: 5em;
    }
    
    .footer-container {
        width: 100%;
        padding: 70px 20px 20px;
    }
    
    .social-icons{
        display: flex;
        justify-content: center;
    }
    
    .social-icons a{
        padding: 5px;
        margin: 5px;
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    
    .social-icons a i{
        font-size: 2em;
        color: black;
        opacity: 0.9;
    }
    
    .social-icons a:hover {
        background-color: #111;
        transition: 0.5s;
    }
    
    .social-icons a:hover i{
        color: white;
        transition: 0.5s;
    }
    
    .footer-nav{
        margin: 30px 0;
    }
    
    .footer-nav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    
    .footer-nav ul li a{
        margin: 10px;
        font-size: 1rem;
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3;
        opacity: 0.7;
        transition: 0.5s;
    }
    
    .footer-nav ul li a:hover{
        opacity: 1;
    }
    
    .footer-bottom {
        background-color: #000;
        padding: 20px;
        text-align: center;
    }
    
    .footer-bottom p {
        color: white;
    }
    
    .designer {
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    
    }

   
    @media (max-width: 700px){
        .footer-nav{
            flex-direction: column;
        }
        
        .footer-nav ul li{           
            width: 100%;
            text-align: center;
            margin: 10px;
        }
    }
    
    @media (max-width: 800px) {
        .parent {

        }
    }