* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    max-width: 600px;
    display: block;
        margin: 0 auto; 
         text-align: center; 
         
}

.home-content {
    font-size: 56px;
    font-weight: 700;
    display: block;
        margin: 0 auto; 
         text-align: center; 
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    display: block;
        margin: 0 auto; 
         text-align: center;  
}


.home-content p {
    font-size: 16px;
    display: block;
        margin: 0 auto; 
         text-align: center; 
}


.btn-box a {
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.custom-image {
    display: flex;
    display: block;
    margin: 0 auto; 
    text-align: center; 
    height: 10em;
    width: 12em;
  }

.image-container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 20em;
    width: 50em;
    margin: 0 50px auto;
}

.image {
    text-align: center;
    margin: 0 20px;
}

.image-container img {
    width: 33%;
    height: auto;
    margin: 0 250px 0 0;
}

.text-under {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    text-align: center;
    color:#00abf0;
    text-decoration-thickness: 20px;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }
    
    .navbar a {
        margin-left: 20px; 
    }
    
    .home-content {
        font-size: 24px; 
    }
    
    .home-content h1 {
        font-size: 24px;
    }
    
    .home-content p {
        font-size: 12px;
    }
    
    .btn-box a {
        font-size: 14px; 
    }
    
    .image-container {
        margin: 0 10px;
    }
    
    .image {
        margin: 5px;
    }
    
    .text-under {
        margin: 5px;
    }
}

@media (max-width: 1600px) {
    .navbar {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    margin-top: 5em;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;

}

@media (max-width: 700px){
    .footer-nav{
        flex-direction: column;
    }
    
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}


.image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.image-logo img {
    width: 400px; 
    height: auto; 
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: pointer;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    cursor: pointer;
    align-self: center;
   
    }

    .parent >div:hover {
        background-color: rgb(74, 84, 238);
    }
    
  
    .div1 { 
        grid-area: 1 / 1 / 2 / 2;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
     }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
    .div3 { 
        grid-area: 1 / 3 / 2 / 4;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
    .div4 { 
        grid-area: 1 / 4 / 2 / 5;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
    .div5 { 
        grid-area: 2 / 1 / 3 / 2;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
    .div6 { 
        grid-area: 2 / 2 / 3 / 3;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
    .div7 { 
        grid-area: 2 / 3 / 3 / 4;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
    .div8 { 
        grid-area: 2 / 4 / 3 / 5; 
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div9 { 
        grid-area: 1 / 5 / 2 / 6;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
     }
    .div10 { 
        grid-area: 2 / 5 / 3 / 6;
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .grid-item {
        background-color: rgb(63, 63, 110);
        width: 250px;
        height: 150px;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px; 
    }
    @media (max-width: 1000px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }
    
    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10 {
        grid-area: auto;
    }

    @media (max-width: 1000px) {
        .div1, .div2 {
            grid-column: 1;
        }
        .div3, .div4 {
            grid-column: 2; 
        }
        .div5, .div6 {
            grid-column: 1;
        }
        .div7, .div8 {
            grid-column: 2;
        }
        .div9, .div10 {
            grid-column: 1;
        }
    }

    .custom-image {
        display: flex;
            display: block;
            margin: 0 auto; 
             text-align: center; 
             flex-direction: column;
        height: 30em;
        width: 35em;
      }
    
    .form-container {
    
        margin: 6px;
        display: grid;
        grid-auto-flow: column;
        width: 400px;
        justify-content: flex-start;
    }
    
    form {
        height: 500px;
        margin: 50px auto 0;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    
    .form-container-row {
        flex-direction: row;
    }
    
    select, .form-label {
        min-width: 120px;
    }
    
    select, input [type=text] {
        width: 180px;
        margin: 2px;
    }
    
    .days{
        margin-left: 10px;
    }
    
    #betalning {
        width: 166.37px;
        height: 19.10px;
    }
    
    select, input {
        padding: 0px;
        height: 24px;
    }
    
    input:invalid {
        margin: 0;
        border: 2px solid red;
      }
    
    select, input:valid {
        border: 2px solid rgb(0, 168, 8);
      }

      .custom-image {
        display: flex;
            display: block;
            margin: 0 auto; 
             text-align: center; 
             flex-direction: column;
        height: 9em;
        width: 10em;
      }